[Unit]
Description=Polkit KDE Authentication Agent
Documentation=https://wiki.archlinux.org/title/Polkit
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Type=simple
Restart=on-failure
RestartSec=1sec
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target