[Unit]
Description=Set a random wallpaper using swww
Documentation=https://github.com/LGFae/swww
After=graphical-session.target swww-daemon.service
PartOf=graphical-session.target
Requires=swww-daemon.service
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/sh %h/.config/systemd/user/scripts/swww.sh %h/.config/matt/wallpapers/
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
