* {
  border: none;
  border-radius: 8px;
  min-height: 0;
  font-family: "Agave Nerd Font";
  margin-top: 1px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0);
  color: #ffead3;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 1rem;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  background-color: rgba(55, 55, 55, 0.55);
  padding: 0px 4px;
  margin-right: 4px;
}

#custom-weather {
  background: rgba(55, 55, 55, 0.55);
  border: 2px solid rgba(120, 120, 120, 0.3);
  margin: 2px;
  padding: 0 6px;
}

#workspaces {
  background-color: rgba(120, 120, 120, 0.3);
  border: 2px solid rgba(120, 120, 120, 0.3);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: #e6eef6;
}

#workspaces button.empty {
  opacity: 0.5;
  color: #9aa4b2;
}

#workspaces button.visible {
  color: #6ca0ff;
}

#workspaces button.active {
  color: #4cff94;
}

#workspaces button.urgent {
  background-color: #ff6b6b;
  border-radius: 1em;
  color: #e6eef6;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#memory,
#custom-nvidia {
  margin: 2px 6px;
}

tooltip {
  font-family: "Agave Nerd Font Propo";
  padding: 2px;
  border-radius: 0.5em;
}

.modules-center {
  background-color: rgba(55, 55, 55, 0.55);
  font-size: 13px;
  margin: 2px 4px;
  border-radius: 6px;
}
#clock {
  padding: 0 6px;
}

.hidden {
  opacity: 0;
}

#taskbar {
  background: rgba(55, 55, 55, 0.3);
  border: 2px solid rgba(120, 120, 120, 0.3);
  margin: 2px;
  transition: all 0.8s ease;
}

#taskbar button {
  padding: 0px 4px;
  margin: 0px 2px;
  padding-bottom: 1px;
  transition: all 0.8s ease;
  border-radius: 2.5px;
  border-bottom: transparent 2px solid;
}

#taskbar button.active {
  background-image: linear-gradient(to top, rgba(0, 255, 98, 0.162), rgba(0, 255, 98, 0));
  border-radius: 2.5px;
  border-bottom: #00ff62 2px solid;
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar.empty {
  opacity: 0;
}
